@import "tailwindcss";

@theme {
  /* Background */
  --color-background: #f8fafc;

  /* Cards */
  --color-card: #ffffff;

  /* Text */
  --color-heading: #0f172a;
  --color-text: #64748b;

  /* Primary */
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;

  /* Accent */
  --color-accent: #7c3aed;

  /* Status */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;

  /* Border */
  --color-border: #e2e8f0;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-background text-heading;
  font-family: "Inter", sans-serif;
}


@keyframes rotateBorder {
  100% {
    transform: rotate(360deg);
  }
}

.gradient-border {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  padding: 2px;
}

.gradient-border::before {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  left: -75%;
  top: -75%;
  background: conic-gradient(
    from 0deg,
    transparent,
    #2563eb,   /* Blue */
    #06b6d4,   /* Cyan */
    #7c3aed,   /* Purple */
    #3b82f6,   /* Light Blue */
    #2563eb,
    transparent
  );
  animation: rotateBorder 6s linear infinite;
}

.gradient-border-content {
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.92);
backdrop-filter: blur(12px);
  border-radius: 22px;
  height: 100%;
  width: 100%;
}

@keyframes floatBlob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(25px, -20px) scale(1.05);
  }
  50% {
    transform: translate(0, -40px) scale(1.1);
  }
  75% {
    transform: translate(-25px, -20px) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-blob {
  animation: floatBlob 12s ease-in-out infinite;
}